@import '../../common/global.scss';

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .previous, .current, .next {
        font-size: 2rem;
        padding: 1rem;
        color: $font-primary;
        background-color: $primary-color;
        width: 7rem;
        text-align: center;
        border-bottom: 1px solid $font-primary;
    }

    .previous, .next {
        cursor: pointer;
    }

    .disabled {
        color: transparent;
        cursor: default;
        border-bottom: transparent;
    }

}