@import '../../common/global.scss';

.card {
    color: $font-primary;
    padding: 1rem;
    font-size: 1.8rem;
    min-width: 40rem;
    background-color: $primary-color;
    border-bottom: 1px solid $font-primary;
    cursor: pointer;
    transition: all .2s ease-in;

    &:hover {
        border-bottom: 1px solid transparent;
        opacity: 0.5;
    }
}